*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 25px;
    border-left : 5px solid palevioletred;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 45px;
    padding-left: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.base{
    margin-top: 100px;
    padding-left: 10px;
    margin-left: 50px;
}
span{
    font-size: 16px;
    margin-left: 20px;
    background-color: rgb(229, 230, 231);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;
    padding: 2px 5px;
    border-radius: 3px;
}